conteneur[class="conteneur"]
 { width:1024px; 
	height:768px;}
img[class="img"]{
	border-radius: 100%;
	border: 5px solid rgb(0, 0, 0);
	width: 25vh;
	margin-left: 3vw;
	margin-right: 4vw;
	margin-top: 1vh;
}
div[class="cnt1"] h3{
	margin: 0;
	margin-bottom: 40px;
}
div[class="cnt1"] h1{
	margin: 0;
	font-weight: bold;
}
div[class="conteneur4"] h1{
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: bold;
}
div[class="cnt4"] h4{
	margin: 0;
	padding: 0;
	font-size: 14px;
	padding: .3rem;
}
div[class="cnt4"] h5{
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	padding: .3rem;
}
div[class="cnt4"] p{
	margin-top: -3px;
	font-weight: normal;
}
.conteneur{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
@media (max-width: 800px) {
	.conteneur{
		flex-direction: column;
		width: 100%;
	}
	.cnt1{
		text-align: center;
	}
	.cnt{
		width: 100%!important;
	}
	body{width:90%;}
}
.conteneur1{
	display: flex;
	justify-content: space-around;
}
.cnt:nth-child(1){
	background-color: #94a6b2;
	order: 1;
}
.cnt:nth-child(2){
	background-color: #353e4d;
	flex: 1vw;
	color: white;
	order: 2;
}
.cnt:nth-child(3){
	background-color: white;
	flex: 25vw;
	order: 3;
	padding-left: 2vw;
}
.cnt1:nth-child(2){
	flex: 25vw;
}
.cnt1:nth-child(1){
	flex: 10vw;
}
main{
	width: 60vw;
	margin: auto;
}
/*h1,h2{
	margin: 0;
}*/
.profil{
	margin-top: -12px;
	margin-bottom: 5px;
	padding: 0;
}
.tt img{
	/*display: inline-block;
	float: right;*/
	width: 20px;
	height: 20px;
	margin-bottom: -5px;
}
.tt span{
	margin-top:-20px;
}

.tt1 h2{
	font-size: 16px;
}
.tt1 h3{
	font-size: 15px;
}
.conteneur3{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 15vw;
	margin: auto;
}
ul{
	width: 15vw;
	padding-left: 18px;
	padding-right: 18px;
	margin: auto;
}
@media screen and (max-width: 1000px){
	.img{
	margin-top: 6vh;
	}
	.conteneur1{
		display: flex;
	}
}

@media screen and (max-width: 800px){
	.img{
	margin-top: 15vh;
	width: 15vh;
	border-radius: 30%;
	height: 20vh;
	}
	.cnt1:nth-child(1){
	flex: 20vw;
	}
	.cnt1:nth-child(2){
	flex: 40vw;
	}
	ul{
	list-style: none;
	padding-left: 0px;
	padding-right: 0px;
	}
	.tt1 h2{
		font-size: 10px;
	}
	.tt1 h3{
		font-size: 9px;
	}
	
	.tt1{
		margin: 0;
		margin-left: -10px;
	}
	

}
.tt1 ul li {
	padding: .3rem;
}
@media screen and (max-width: 580px){
	.img{
	margin-top: 20vh;
	width: 5vW;
	border-radius: 5%;
	}
	.cnt:nth-child(1){
	flex: 100%;
	}
	.cnt:nth-child(2){
	flex: 100%;
	}
	.cnt:nth-child(2){
	flex: 100%;
	margin: 0;
	}
	.cnt:nth-child(3){
	flex: 100%;
	margin: 0;
	}
	.tt1 h2{
		font-size: 10px;
	}
	.tt1 h3{
		font-size: 9px;
	}
	
	.tt1{
		margin: 0;
		margin-left: -35px;
	}
	.conteneur1{
		flex-wrap: wrap;
	}
	.cnt1:nth-child(1){
	flex: 100%;
	}
	.cnt1:nth-child(2){
	flex: 100%;
	}
}
