.main {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
}
body{

background-color: #f0f3d4;
}
.img_ct {
    width: 250px;
    text-align: center;
}
.img_ct img{
    width: 200px;
    border-radius: 100%;
	border: 5px solid rgb(0, 0, 0);
	margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
.top {
    background:  #94a6b2;;
    display: flex;
    align-items: center;
}
.nom {
    width: calc(100% - 250px);
}
.bottom {
    display: flex;
}
.contact{
        margin: 0;
		margin-left: -35px;
        width: 20%;
}
.left {
    width: 250px;
    height: auto;
    background-color:  #353e4d;
    color: white;
}
.right {
    grid-column: span 5;
    padding: auto;
    height: 100%;
}
.ct{
    padding: 2rem 3rem;
}
/*p.tt{
    height: 10%;
    width: 10%;
    margin-bottom: -5px;
}*/
.contact ul {
    position: relative;
}
.contact ul li{
    position: relative;
    margin: 10px 0;
    cursor: pointer;
}

.contact ul li .tt{
    display: inline-block;
    width: 30px;
    font-size: 18px;

}
.contact ul li .span{
   color: #fff;
   font-weight: 300;

}

@media (max-width: 800px) {
    .bottom, .top {
        flex-direction: column;
    }
    .left, .right, .nom, .img_ct{
        width: 100%;
    }
}
.d-flex .text {
    width: calc(100% - 56px);
}
.d-flex .tt {
    width: 30px;
}
